Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
build-utils==0.3.2
cachetools==3.0.0
cmake==3.13.3




dlib==19.17.0

Flask==1.0.2
Flask-Babel==0.12.2
Flask-BasicAuth==0.2.0
Flask-Cache==0.13.1
Flask-Caching==1.4.0
Flask-GoogleMaps==0.2.6
Flask-MySQL==1.4.0
Flask-ReCaptcha==0.4.2
Flask-Table==0.5.0
Flask-WTF==0.14.2
future==0.17.1

gunicorn==19.9.0
httplib2==0.12.0
hubblepy==1.0.0

Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0

geojson==2.4.1
tweepy==3.7.0
python-twitter==3.5
requests==2.11.1
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
responses==0.10.4
sightengine==1.4.0
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
